p{
	display: inline;
}

/* Titre */
h1{
	border: 6px solid rgb(29, 2, 87);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.4);
}

/* Fond */
#corps{
	background-image: url('background.jpg');
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

/* Bloc principal */
#bloc{
	border: 10px solid rgb(29, 2, 87);
	height: 300px;
	width: 500px;

	margin: 40px auto; /* centre horizontal */
	padding: 15px;

	border-radius: 15px;
	background-color: rgba(255,255,255,0.1);
	box-shadow: 0 0 15px rgba(214, 208, 208, 0.5);

	
}

/* Div internes */
#divi1, #divi2{
	margin: 15px;
	color: white;
}

/* Paragraphes bleus plus jolis */
#p1, #p2{
	background-color: rgb(248, 248, 248);
	padding: 6px 10px;
	border-radius: 6px;
	color : black;
}
